<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../../layui/css/layui.css" />
		<script src="../../../js/jquery-2.1.0.js"></script>
		<script src="../../../layui/layui.js"></script>
		<script type="text/javascript" src="http://gosspublic.alicdn.com/aliyun-oss-sdk.min.js "></script>
		<script src="../../../js/oss.js"></script>
		<script src='../../../js/wangEditor.min.js'></script>
		<script src="../../../js/public.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../css/style.css" />
	</head>

	<body class="my-body">

		<div class="my-breadcrumb">
			<span class="layui-breadcrumb">
		  <a>产品维护</a>
		  <a>产品管理</a>
		  <a><cite>产品编辑</cite></a>
		</span>
		</div>
		<div class="my-content">
			<h3 class="form-title">产品编辑</h3>

			<form class="layui-form my-form"  lay-filter='myForm' style="" action="">
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">产品类别：</label>
					<div style="width: 300px;" class="my-from-input">
						<select  class="pro1" lay-filter="pro1" name="pro1" disabled>
							<option value="">请选择</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">产品类型：</label>
					<div style="width: 300px;" class="my-from-input">
						<select  class="pro2" lay-filter="pro2" name="pro2" required lay-verify="required">
							<option value="">请选择</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">产品型号：</label>
					<div style="width: 300px;" class="my-from-input">
						<input type="text" name="model" required lay-verify="required" placeholder="请输入产品型号" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">产品名称：</label>
					<div style="width: 300px;" class="my-from-input">
						<input type="text" name="name" required lay-verify="required" placeholder="请输入产品名称" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">产别功能：</label>
					<div style="width: 300px;" class="my-from-input">
						<input type="text" name="synopsis" required lay-verify="required" placeholder="请输入产品功能" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">产品特征1：</label>
					<div style="width: 300px;" class="my-from-input">
						<input type="text" name="dom2" required lay-verify="required" placeholder="请输入产品特征" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">产品特征2：</label>
					<div style="width: 300px;" class="my-from-input">
						<input type="text" name="dom3" required lay-verify="required" placeholder="请输入产品特征" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">上传产品图片：</label>
					<div style="width: 300px;" class="my-from-input">
						<button type="button" class="file-btn layui-btn layui-btn-normal">
						  <i class="layui-icon">&#xe67c;</i>点击上传
						  <input type="file" class="file-img" accept=".png,.jpg,.jpeg" />
						  <input type="hidden" class="file-data"  value="" name="icon" required lay-verify="fileImg" />
						</button>
						<div class="upload-img-div">
							<i class="layui-icon layui-icon-close-fill upload-img-close" data-close=''></i>
							<img class="layui-upload-img" src=""  id="file-img-show">
						</div>
						<p class="file-tips">支持上传png、jpg.格式</p>
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">上传产品说明书<span>(可选)</span>：</label>
					<div style="width: 300px;" class="my-from-input">
						<button type="button" class="file-btn layui-btn layui-btn-normal">
						  <i class="layui-icon">&#xe67c;</i>点击上传
						  <!--<input type="file"   class="file-psd"/>-->
						  <input type="file" accept=".xls,.doc,.pdf,.docx" class="file-psd"/>
						  <input type="hidden" class="psd-data"  value="" name="psd1" />
						</button>
						<div class="upload-psd-div">
							<span  class="layui-icon layui-icon-file"></span>
							<i class="layui-icon layui-icon-close-fill  upload-psd-close" data-close=''></i>
							<p class="upload-psd-p ellipsis"></p>
						</div>
						<p class="file-tips">上传doc、docx、pdf等文件</p>
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">上传产品选型表<span>(可选)</span>：</label>
					<div style="width: 300px;" class="my-from-input">
						<button type="button" class="file-btn layui-btn layui-btn-normal" id="test2">
						  <i class="layui-icon">&#xe67c;</i>点击上传
						  <input type="file"  accept=".xls,.doc,.pdf,.docx" class="file-psd" />
						  <input type="hidden" class="psd-data"  value="" name="psd2" />
						</button>
						<div class="upload-psd-div">
							<span  class="layui-icon layui-icon-file"></span>
							<i class="layui-icon layui-icon-close-fill  upload-psd-close" data-close=''></i>
							<p class="upload-psd-p ellipsis"></p>
						</div>
						<p class="file-tips">上传doc、docx、pdf等文件</p>
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">产品概述：</label>
					<div style="" class="my-from-input my-wangEditor-div">
						<div style="" id="dom4"   class=""></div>
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">产品特点：</label>
					<div  style="" class="my-from-input my-wangEditor-div">
						<div style="" id="dom5"   class=""></div>
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">产品参数：</label>
					<div style="" class="my-from-input my-wangEditor-div">
						<div style="" id="dom6"   class=""></div>
					</div>
				</div>
				<div class="action-form-btns">
					<button lay-submit lay-filter="tijiao" class="layui-btn layui-btn-normal action-btn-tijiao">提交</button>
					<button class="layui-btn layui-btn-primary action-btn-back">取消</button>
				</div>
			</form>
		
		</div>
		
	</body>
	<script>
		var deleteDocument1Id=null;
		$(function() {
			var form = null;
			
			var initId = location.search.split('?id=')[1];
			Sel1(1) //产品1级目录 下拉
			var E = window.wangEditor
	        var editor4 = new E('#dom4');
	        var editor5 = new E('#dom5');
	        var editor6 = new E('#dom6');
	        // 自定义菜单配置
		    editor4.customConfig.menus = [
		        'head',
		        'bold',
		        'fontSize',
		        'undo',
		    ]
		    editor5.customConfig.menus = [
		        'head',
		        'bold',
		        'fontSize',
		        'undo',
		    ]
		    editor6.customConfig.menus = [
		        'head',
		        'bold',
		        'fontSize',
		        'undo',
		    ]

	        editor4.create();
	 		editor5.create();
	        editor6.create();
			
			
			layui.use('element', function() {
				var element = layui.element;
				element.init();

			});
			layui.use('form', function() {
				var form = layui.form;
//				form.render();
				
				var initId = location.search.split('?id=')[1];
//				初始赋值
				$.ajax({
					type:"post",
					url:productSee,
					async:true,
					data:{
						id:initId,
					},
					success:function(res){
						console.log(res.record)
						if( res.code == 0){
							Sel2(1,res.record.productTypeLevel1,function(){
								form.val("myForm", {
									'pro1':res.record.productTypeLevel1,
									'pro2':res.record.productTypeLevel2,	//2级目录
									'model':res.record.model,		//编号
									'name': res.record.name,		//名称
									'synopsis':res.record.synopsis, 		//功能描述
									'dom1':res.record.dom1, 		//功能描述
									'dom2':res.record.dom2, 		//特征1
									'dom3':res.record.dom3,		//特征2
									'icon':res.record.iconUrl,		//图片
									'document1':res.record.psd1,	//文档1
									'document2':res.record.psd2	//文档2
								})
//								$('[name="dom4"]').html(res.record.dom4);
//								$('[name="dom5"]').html(res.record.dom5);
//								$('[name="dom6"]').html(res.record.dom6);
								editor4.txt.html(res.record.dom4)
								editor5.txt.html(res.record.dom5)
								editor6.txt.html(res.record.dom6)
								
								if(res.record.iconUrl.indexOf('?uploadId')){
					      			$('#file-img-show').attr('src',res.record.iconUrl.split('?uploadId')[0])//图片展示
					      			$('.file-data').val(res.record.iconUrl.split('?uploadId')[0])
					      		}else{
					      			$('#file-img-show').attr('src',res.record.iconUrl) //图片展示
					      			$('.file-data').val(res.record.iconUrl); //图片 上传的数据
					      		}
								
					      		$('.upload-img-div').show(); //图片容器
	//				      		$('.upload-img-close').attr('data-close',result.name)  //删除 需要的文件名
						
								//判断文档
								if(res.record.documents.length==1){
									if(res.record.documents[0]&&res.record.documents[0].type==1){
										$('[name="psd1"]').parent().next('.upload-psd-div').show() //装文件 容器
							      		$('[name="psd1"]').val(res.record.documents[0].url)  //需要上传 的数据
							            $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-p').html(res.record.documents[0].name);
							            $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('psd-id',res.record.documents[0].id);
							            $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-close').attr('data-close',res.record.documents[0].id);
									}else{
										$('[name="psd2"]').parent().next('.upload-psd-div').show() //装文件 容器
							      		$('[name="psd2"]').val(res.record.documents[0].url)  //需要上传 的数据
							            $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-p').html(res.record.documents[0].name);
							            $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('psd-id',res.record.documents[0].id);
							            $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-close').attr('data-close',res.record.documents[0].id);
									}
								}
								if(res.record.documents.length==2){
										$('[name="psd1"]').parent().next('.upload-psd-div').show() //装文件 容器
							      		$('[name="psd1"]').val(res.record.documents[0].url)  //需要上传 的数据
							            $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-p').html(res.record.documents[0].name);
							            $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('psd-id',res.record.documents[0].id);
							            $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-close').attr('data-close',res.record.documents[0].id);
							            
							            $('[name="psd2"]').parent().next('.upload-psd-div').show() //装文件 容器
							      		$('[name="psd2"]').val(res.record.documents[1].url)  //需要上传 的数据
							            $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-p').html(res.record.documents[1].name);
							            $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('psd-id',res.record.documents[1].id);
							            $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-close').attr('data-close',res.record.documents[1].id);
								}	
								
							});
						}
					}
				});
				
				
				//自定义验证规则
				 form.verify({
				    fileImg: function(value){
				      if(value.length < 1){
				        return '请上传图片';
				      }
				    },
				  
				  });
				
				form.on('submit(tijiao)', function(form) {
					var document1Name = $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-p').html();
					var document1Id = $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('psd-id');
					var document2Name = $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-p').html();
					var document2Id = $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('psd-id');
					var deleteDocument1Id = $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('del-id');
					var deleteDocument2Id = $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('del-id');
					if(editor4.txt.html() == '<p><br></p>' ||editor4.txt.html()==''){
						parent.layer.msg('请填写产品概述', {
							icon: 5,
							anim: 6,
							offset: '50%', //右下角弹出
							time: 1000, //2s后自动关闭
						});
					}
					else if(editor5.txt.html() == '<p><br></p>' ||editor5.txt.html()==''){
						parent.layer.msg('请填写产品特点', {
							icon: 5,
							anim: 6,
							offset: '50%', //右下角弹出
							time: 1000, //2s后自动关闭
						});
					}
					else if(editor6.txt.html() == '<p><br></p>' ||editor6.txt.html()==''){
						parent.layer.msg('请填写产品参数', {
							icon: 5,
							anim: 6,
							offset: '50%', //右下角弹出
							time: 1000, //2s后自动关闭
						});
					}else{
						console.log(form.field,3333333333333)
					$.ajax({
						type: "post",
						url: productEdit,
						async: true,
						data: {
							id:initId,
							type2Id:form.field.pro2,	//2级目录
							model:form.field.model,		//编号
							name: form.field.name,		//名称
							synopsis:form.field.synopsis, 		//功能描述
							dom1:form.field.synopsis, 		//功能描述
							dom2:form.field.dom2, 		//特征1
							dom3:form.field.dom3,		//特征2
							icon:form.field.icon,		//图片
							document1:form.field.psd1,	//文档1
							document1Name:document1Name,
							document1Id:document1Id,
							deleteDocument1Id:deleteDocument1Id,
							deleteDocument2Id:deleteDocument2Id,
							document2:form.field.psd2,	//文档2
							document2Name:document2Name,
							document2Id:document2Id,
							dom4:editor4.txt.html(),		//概述
							dom5:editor5.txt.html(),		//特点	
							dom6:editor6.txt.html(),		//参数
//							dom4:form.field.dom4,		//概述
//							dom5:form.field.dom5,		//特点	
//							dom6:form.field.dom6,		//参数
						},
						success: function(res) {
							if(res.code == 0) {
								$('.action-btn-tijiao').attr('disabled', true)
								parent.layer.msg('提交成功', {
									icon: 1,
									offset: 'tb', //右下角弹出
									time: 1000, //2s后自动关闭
								});
								setTimeout(function() {
									window.location.href = 'view.html'
								}, 1000)
							}
						}
					});
					}
					
					return false;
				});
			});
			
			$(".file-img").change(function(){
				if($('#file-img-show').attr('src').length<1){
					var imgName=new Date().getTime()+"-"+$(this)[0].files[0].name;
			      	client.multipartUpload("myImg/"+imgName, this.files[0]).then(function (result) {
			      		if(result.res.requestUrls[0].indexOf('?uploadId')){
			      			$('#file-img-show').attr('src',result.res.requestUrls[0].split('?uploadId')[0])//图片展示
			      			$('.file-data').val(result.res.requestUrls[0].split('?uploadId')[0])
			      		}else{
			      			$('#file-img-show').attr('src',result.res.requestUrls[0]) //图片展示
			      			$('.file-data').val(result.res.requestUrls[0]); //图片 上传的数据
			      		}
			      		$('.upload-img-div').show(); //图片容器
			      		$('.upload-img-close').attr('data-close',result.name)  //删除 需要的文件名
			      		console.log($('#file-img-show').attr('src').length);
			            console.log('上传图片',result);
			        }).catch(function (err) {
			            console.log(err);
			        });
				}else{
					parent.layer.msg('最多上传一张', {
						icon: 2,
						offset: 'tb', //右下角弹出
						time: 1000, //2s后自动关闭
					});
				}
		      	
		    });
		    //删除图片
		    $(".upload-img-close").click(function(){
		    	$('.file-data').val('');
				$('#file-img-show').attr('src','')
				$('.upload-img-div').hide();
			
			    $.ajax({
					type: "post",
					url: ossDel,
					async: true,
					data: {
						name:$(this).attr('data-close')
					},
					success: function(res) {
						$(".file-img").val('')
					}
				});
		    });
		    $('.file-psd').change(function(){
		    	if($(this).next('.psd-data').val().length<1){
			    	var $this = $(this);
			    	var psdName=$(this)[0].files[0].name;
			    	client.multipartUpload("myPdf/"+psdName, this.files[0]).then(function (result) {
			    		 	console.log('上传文件',result);
				      		$this.parent().next('.upload-psd-div').show() //装文件 容器
				      		$this.next('.psd-data').val(result.res.requestUrls[0])  //需要上传 的数据
				            $this.parent().next('.upload-psd-div').find('.upload-psd-p').html(psdName);
				            
				            $this.parent().next('.upload-psd-div').find('.upload-psd-close').attr('data-close',result.name);
				        }).catch(function (err) {
				            console.log(err);
				        });
			    }else{
					parent.layer.msg('最多上传一张', {
						icon: 2,
						offset: 'tb', //右下角弹出
						time: 1000, //2s后自动关闭
					});
				}    
		    })
		    
		    //删除文件
			$('.upload-psd-close').click(function(){
				$(this).parent().prev().find('.psd-data').val('');
//				$(this).next('.upload-psd-p').html('')
				$(this).parent('.upload-psd-div').hide();
				var $this = $(this);
				$this.parent().prev().find('.file-psd').val('')
				
				var del= $this.next('.upload-psd-p').attr('psd-id');
				$this.next('.upload-psd-p').attr('del-id',del)
				$this.next('.upload-psd-p').attr('psd-id','')
//				var $this = $(this);
//			    $.ajax({
//					type: "post",
//					url: proDocumentDel,
//					async: true,
//					data: {
//						id:$(this).attr('data-close')
//					},
//					success: function(res) {
//						$this.parent().prev().find('.file-psd').val('')
//						$this.next('.upload-psd-p').attr('psd-id','')
//					}
//				});
			})
			
			$('.action-btn-back').click(function() {
				
				window.location.href = 'view.html';
				return false;
			})

		})
	</script>

</html>