<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../../layui/css/layui.css" />
		<script src="../../../js/jquery-2.1.0.js"></script>
		<script src="../../../layui/layui.js"></script>
		<script type="text/javascript" src="http://gosspublic.alicdn.com/aliyun-oss-sdk.min.js "></script>
		<script src="../../../js/oss.js"></script>
		<script src='../../../js/wangEditor.min.js'></script>
		<script src="../../../js/public.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../css/eleTree.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/style.css" />
		<style>
			
		</style>
	</head>

	<body class="my-body">

		<div class="my-breadcrumb">
			<span class="layui-breadcrumb">
		  <a>方案维护</a>
		  <a>场景管理</a>
		  <a><cite>场景编辑</cite></a>
		</span>
		</div>
		<div class="my-content">
			<h3 class="form-title">场景编辑</h3>

			<form class="layui-form my-form" lay-filter='myForm'  style="" action="">
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">方案类型：</label>
					<div style="width: 300px;" class="my-from-input">
						<select  class="pro1" required lay-verify="required"  name="pro1" autocomplete="off">
							<option value="">请选择</option>
						</select>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">场景名称：</label>
					<div style="width: 300px;" class="my-from-input">
						<input type="text" name="name" required lay-verify="required" placeholder="请输入场景名称" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">场景功能：</label>
					<div style="width: 300px;" class="my-from-input">
						<input type="text" name="synopsis" required lay-verify="required" placeholder="请输入场景功能" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">场景特征1：</label>
					<div style="width: 300px;" class="my-from-input">
						<input type="text" name="dom1" required lay-verify="required" placeholder="请输入场景特征" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">场景特征2：</label>
					<div style="width: 300px;" class="my-from-input">
						<input type="text" name="dom2" required lay-verify="required" placeholder="请输入场景特征" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">相关产品：</label>
					<div style="width: 300px;" class="my-from-input">
						<input type="text" name="products" required lay-verify="required" readonly placeholder="请选择" autocomplete="off" class="layui-input tree-on my-tree-input">
						<div class="eleTree ele1" lay-filter="data1"></div>
					
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">上传场景封面图片：</label>
					<div style="width: 300px;" class="my-from-input">
						<button type="button" class="file-btn layui-btn layui-btn-normal" >
						  <i class="layui-icon">&#xe67c;</i>点击上传
						  <input type="file" class="file-img" accept=".png,.jpg,.jpeg" />
						  <input type="hidden" class="file-data"  value="" name="img" required lay-verify="fileImg" />
						 
						</button>
						<div class="upload-img-div">
							<i style="left: 290px;" class="layui-icon layui-icon-close-fill upload-img-close" data-close=''></i>
							<img style="width: 100%;" class="layui-upload-img file-img-show" src="">
						</div>
						<p class="file-tips">支持上传png、jpg.格式</p>
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">上传场景图标：</label>
					<div style="width: 300px;" class="my-from-input">
						<button type="button" class="file-btn layui-btn layui-btn-normal">
						  <i class="layui-icon">&#xe67c;</i>点击上传
						  <input type="file" class="file-img" accept=".png,.jpg,.jpeg" />
						  <input type="hidden" class="file-data"  value="" name="icon" required lay-verify="fileIcon" />
						</button>
						<div class="upload-img-div">
							<i class="layui-icon layui-icon-close-fill upload-img-close" data-close=''></i>
							<img class="layui-upload-img file-img-show" src="" >
						</div>
						<p class="file-tips">支持上传png、jpg.格式</p>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">上传宣传文档<span>(可选)</span>：</label>
					<div style="width: 300px;" class="my-from-input">
						<button type="button" class="file-btn layui-btn layui-btn-normal">
						  <i class="layui-icon">&#xe67c;</i>点击上传
						  <input type="file" accept=".xls,.doc,.pdf,.docx" class="file-psd"/>
						  <input type="hidden" class="psd-data"  value="" name="psd1" />
						</button>
						<div class="upload-psd-div">
							<span  class="layui-icon layui-icon-file"></span>
							<i class="layui-icon layui-icon-close-fill  upload-psd-close" data-close=''></i>
							<p class="upload-psd-p ellipsis"></p>
						</div>
						<p class="file-tips">上传doc、docx、pdf文件</p>
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">上传技术文档<span>(可选)</span>：</label>
					<div style="width: 300px;" class="my-from-input">
						<button type="button" class="file-btn layui-btn layui-btn-normal" id="test2">
						  <i class="layui-icon">&#xe67c;</i>点击上传
						  <input type="file"  accept=".xls,.doc,.pdf,.docx" class="file-psd" />
						  <input type="hidden" class="psd-data"  value="" name="psd2" />
						</button>
						<div class="upload-psd-div">
							<span  class="layui-icon layui-icon-file"></span>
							<i class="layui-icon layui-icon-close-fill  upload-psd-close" data-close=''></i>
							<p class="upload-psd-p ellipsis"></p>
						</div>
						<p class="file-tips">上传doc、docx、pdf文件</p>
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">方案概述：</label>
					<div style="" class="my-from-input my-wangEditor-div">
						<div style="" id="dom3"   class=""></div>
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">方案设计：</label>
					<div  style="" class="my-from-input my-wangEditor-div">
						<div style="" id="dom4"   class=""></div>
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">方案优势：</label>
					<div style="" class="my-from-input my-wangEditor-div">
						<div style="" id="dom5"   class=""></div>
					</div>
				</div>
				<div class="action-form-btns">
					<button lay-submit lay-filter="tijiao" class="layui-btn layui-btn-normal action-btn-tijiao">提交</button>
					<button class="layui-btn layui-btn-primary action-btn-back">取消</button>
				</div>
			</form>
		
		
		</div>
		
	</body>
	<script>
		var datas = [];   // 树的 数据
        var index = 0;		//下表
        var ids=[];			//树  选中id
        var idData = null; // 需要上传的场景应用ID
		$(function() {
			var form = null;
			var initId = location.search.split('?id=')[1];
			Sel1(2) //方案目录 下拉
			var E = window.wangEditor
	        var editor3 = new E('#dom3');
	        var editor4 = new E('#dom4');
	        var editor5 = new E('#dom5');
	        // 自定义菜单配置
		    editor3.customConfig.menus = [
		        'head',
		        'bold',
		        'fontSize',
		        'undo',
		    ]
		    editor4.customConfig.menus = [
		        'head',
		        'bold',
		        'fontSize',
		        'image',
		        'undo',
		    ]
		    
		    //这里注意，下面的/news/upload是我的路由部分，主要是上传图片的后端代码
			editor4.customConfig.uploadImgServer = '/myImg'; // 上传图片到服务器
			
			//定义上传的filename，即上传图片的名称
			editor4.customConfig.uploadFileName = 'images';
			editor4.customConfig.showLinkImg = false;
			//开启wangEditor的错误提示，有利于我们更快的找到出错的地方
			editor4.customConfig.debug = true;
//			editor4.customConfig.customUploadInit = function(file){
//				console.log(file,'sh')
//			};
			editor4.customConfig.pasteFilterStyle = false
                 // 将图片大小限制为10M
			editor4.customConfig.uploadImgMaxSize = 10 * 1024 * 1024;
			
            editor4.customConfig.customUploadImg = function (files, insert) {
            	console.log(files,'文件列表')
            	var imgName=new Date().getTime()+"-"+files[0].name;
		      	client.multipartUpload("myImg/"+imgName, files[0]).then(function (result) {
		      		if(result.res.requestUrls[0].indexOf('?uploadId')){
		      			
		      			insert(result.res.requestUrls[0].split('?uploadId')[0])
		      		}else{
		      			
		      			insert(result.res.requestUrls[0]); //图片 上传的数据
		      		}
		      		
		            console.log('上传图片',result);
		        }).catch(function (err) {
		            console.log(err);
		        });
            	
			    // files 是 input 中选中的文件列表
			    // insert 是获取图片 url 后，插入到编辑器的方法
			
			    // 上传代码返回结果之后，将图片插入到编辑器中
			  
			}
		    
		    editor5.customConfig.menus = [
		        'head',
		        'bold',
		        'fontSize',
		        'undo',
		    ]
	        
	       
	        editor3.customConfig.onchange= function (html) {
            // 监控变化，同步更新到 textarea
            	 $('[name="dom3"]').html(html);
        	}
	        editor4.customConfig.onchange= function (html) {
            // 监控变化，同步更新到 textarea
            	 $('[name="dom4"]').html(html);
        	}
	        editor5.customConfig.onchange= function (html) {
            // 监控变化，同步更新到 textarea
            	 $('[name="dom5"]').html(html);
        	}
	        editor3.create();
	        $('#div4 img').css({width:'100px',height:'100px'});
	 		editor4.create();
	 		
	        editor5.create();
			
			
			layui.use('element', function() {
				var element = layui.element;
				element.init();

			});

			
			
			
			
			$('body').on('click','.my-tree-input',function(){
          		
          		
          		if($('.my-tree-input').hasClass('tree-on')){
					$('.my-tree-input').removeClass('tree-on')
					$('.ele1').slideDown(300);
				}else{
					event.stopPropagation();//阻止事件冒泡即可
					$('.ele1').hide();
					$(this).addClass('tree-on')
				}
          	})

//			$('.my-tree-input').on('click',function(event){
//				if($('.my-tree-input').hasClass('tree-on')){
//					$('.my-tree-input').removeClass('tree-on')
//				}else{
//					event.stopPropagation();//阻止事件冒泡即可
//					$('.ele1').hide();
//				}
//
//			})
//			
			
			layui.use('form', function() {
				var form = layui.form;
				
				var initId = location.search.split('?id=')[1];
				console.log(initId,'iddddddd')
//				初始赋值
				$.ajax({
					type:"post",
					url:programmeSee,
					async:true,
					data:{
						id:initId,
					},
					success:function(res){
					
						if( res.code == 0){
								console.log('查看',res)
								idData = res.record.id;
								var d = res;
								/*产品   树菜单*/
								layui.config({
						            base: "../../../layui/lay/mymodules/"
						        }).use(['jquery','eleTree'], function(){
						            var $ = layui.jquery;
						            var eleTree = layui.eleTree;
									/*获取 产品树 菜单*/
									eleTree.render({
						                elem: '.ele1',
										data: d.record.products,
						                showCheckbox: true,
						                drag: false,
						                accordion: false
						           });
						           console.log(eleTree.checkedData(".ele1"),'22222222222')  //这个就是选中的值
						           
						           //我循环遍历 他  把值给input 就会报错
									for(var i=0; i<eleTree.checkedData(".ele1").length; i++){
										if(eleTree.checkedData(".ele1")[i].children == null){
											var res = eleTree.checkedData(".ele1")[i];
											datas[index] = res;
											index++;
					
										}
									}
									var values = [];
									for(var i=0; i<datas.length; i++){
										ids.push(datas[i].id)
										values.push(datas[i].label)
									}
					               	$('.my-tree-input').val(values.join(','))

									
									
						           //cheack  选择的时候
									  eleTree.on("checkbox(data1)",function(data) {
						            	datas = [];
								        index = 0;
								        ids=[];
								        var values = [];
						                console.log(data,'选择');
										for(var i=0; i<data.checkedData.length; i++){
											if(data.checkedData[i].children == null){
												var res = data.checkedData[i];
												datas[index] = res;
												index++;
						
											}
										}

										for(var i=0; i<datas.length; i++){
											ids.push(datas[i].id)
											values.push(datas[i].label)
										}
										console.log(ids.join(','));
						               	$('.my-tree-input').val(values.join(','))
						            })
									  

									
								})
								
								form.val("myForm", {
									'pro1':res.record.solution,	//id
									'name': res.record.name,		//名称
									'synopsis':res.record.synopsis, 		//功能描述
									'dom1':res.record.dom1,			//特征1
									'dom2':res.record.dom2, 			//特征2
									
								})
								
								/*大封面*/
					      			$('[name="img"]').parent().next('.upload-img-div').find('.file-img-show').attr('src',res.record.img)//图片展示
					      			$('[name="img"]').val(res.record.img)
					      			/*小图标*/
//									$('[name="icon"]').attr('src',res.record.iconUrl);
					      			$('[name="icon"]').parent().next('.upload-img-div').find('.file-img-show').attr('src',res.record.iconUrl)//图片展示
					      			$('[name="icon"]').val(res.record.iconUrl)
								
								
								
								editor3.txt.html(res.record.dom3)
								editor4.txt.html(res.record.dom4)
								editor5.txt.html(res.record.dom5)
//								
//								if(res.record.iconUrl.indexOf('?uploadId')){
//					      			$('#file-img-show').attr('src',res.record.iconUrl.split('?uploadId')[0])//图片展示
//					      			$('.file-data').val(res.record.iconUrl.split('?uploadId')[0])
//					      		}else{
//					      			$('#file-img-show').attr('src',res.record.iconUrl) //图片展示
//					      			$('.file-data').val(res.record.iconUrl); //图片 上传的数据
//					      		}
//								
					      		$('.upload-img-div').show(); //图片容器
//								//判断文档
								if(res.record.documents.length==1){
									if(res.record.documents[0]&&res.record.documents[0].type==3){
										$('[name="psd1"]').parent().next('.upload-psd-div').show() //装文件 容器
							      		$('[name="psd1"]').val(res.record.documents[0].url)  //需要上传 的数据
							            $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-p').html(res.record.documents[0].name);
							            $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('psd-id',res.record.documents[0].id);
							            $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-close').attr('data-close',res.record.documents[0].id);
									}else{
										$('[name="psd2"]').parent().next('.upload-psd-div').show() //装文件 容器
							      		$('[name="psd2"]').val(res.record.documents[0].url)  //需要上传 的数据
							            $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-p').html(res.record.documents[0].name);
							            $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('psd-id',res.record.documents[0].id);
							            $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-close').attr('data-close',res.record.documents[0].id);
									}
								}
								if(res.record.documents.length==2){
									$('[name="psd1"]').parent().next('.upload-psd-div').show() //装文件 容器
							      		$('[name="psd1"]').val(res.record.documents[0].url)  //需要上传 的数据
							            $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-p').html(res.record.documents[0].name);
							            $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('psd-id',res.record.documents[0].id);
							            $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-close').attr('data-close',res.record.documents[0].id);
							            
							            $('[name="psd2"]').parent().next('.upload-psd-div').show() //装文件 容器
							      		$('[name="psd2"]').val(res.record.documents[1].url)  //需要上传 的数据
							            $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-p').html(res.record.documents[1].name);
							            $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('psd-id',res.record.documents[1].id);
							            $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-close').attr('data-close',res.record.documents[1].id);
								}			
						
						}
					}
				});
				
				
				
				
				
				//自定义验证规则
				 form.verify({
				    fileImg: function(value){
				      if(value.length < 1){
				        return '请上传场景封面';
				      }
				    },
				    fileIcon: function(value){
				      if(value.length < 1){
				        return '请上传场景图标';
				      }
				    },
				    
				  });
				
				form.on('submit(tijiao)', function(form) {
					
					var document1Name = $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-p').html();
					var document1Id = $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('psd-id');
					var document2Name = $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-p').html();
					var document2Id = $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('psd-id');
					var deleteDocument1Id = $('[name="psd1"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('del-id');
					var deleteDocument2Id = $('[name="psd2"]').parent().next('.upload-psd-div').find('.upload-psd-p').attr('del-id');
					if(editor3.txt.html() == '<p><br></p>' ||editor3.txt.html()==''){
						parent.layer.msg('请填写方案概述', {
							icon: 5,
							anim: 6,
							offset: '50%', //右下角弹出
							time: 1000, //2s后自动关闭
						});
					}
					else if(editor4.txt.html() == '<p><br></p>' ||editor4.txt.html()==''){
						parent.layer.msg('请填写方案设计', {
							icon: 5,
							anim: 6,
							offset: '50%', //右下角弹出
							time: 1000, //2s后自动关闭
						});
					}
					else if(editor5.txt.html() == '<p><br></p>' ||editor5.txt.html()==''){
						parent.layer.msg('请填写方案优势', {
							icon: 5,
							anim: 6,
							offset: '50%', //右下角弹出
							time: 1000, //2s后自动关闭
						});
					}else{
						$.ajax({
						type: "post",
						url: programmeEdit,
						async: true,
						data: {
							id:idData,
							solution:form.field.pro1,	//2级目录
							model:form.field.model,		//编号
							name: form.field.name,		//名称
							synopsis:form.field.synopsis, 		//功能描述
							dom1:form.field.dom1,			//特征1
							dom2:form.field.dom2, 			//特征2
							products:ids.join(','),    //相关产品
							img:form.field.img,				//封面
							icon:form.field.icon,			//图标
							deleteDocument1Id:deleteDocument1Id,
							deleteDocument2Id:deleteDocument2Id,
							document1:form.field.psd1,	//文档1
							document1Name:document1Name,
							document1Id:document1Id,
							document2:form.field.psd2,	//文档2
							document2Name:document2Name,
							document2Id:document2Id,
							dom3:editor3.txt.html(),		//概述
							dom4:editor4.txt.html(),		//特点	
							dom5:editor5.txt.html(),		//参数
						},
						success: function(res) {
							if(res.code == 0) {
								$('.action-btn-tijiao').attr('disabled', true)
								parent.layer.msg('提交成功', {
									icon: 1,
									offset: 'tb', //右下角弹出
									time: 1000, //2s后自动关闭
								});
								setTimeout(function() {
									window.location.href = 'view.html'
								}, 1000)
							}
						}
					});
					}
					
					return false;
				});
			});
			
			$(".file-img").change(function(){
				var $this = $(this);
				if($this.parent().next().find('.file-img-show').attr('src').length<1){
					var imgName=new Date().getTime()+"-"+$(this)[0].files[0].name;
			      	client.multipartUpload("myImg/"+imgName, this.files[0]).then(function (result) {
			      		if(result.res.requestUrls[0].indexOf('?uploadId')){
			      			$this.parent().next().find('.file-img-show').attr('src',result.res.requestUrls[0].split('?uploadId')[0])//图片展示
			      			$this.next('.file-data').val(result.res.requestUrls[0].split('?uploadId')[0])
			      		}else{
			      			$this.parent().next().find('.file-img-show').attr('src',result.res.requestUrls[0]) //图片展示
			      			$this.next('.file-data').val(result.res.requestUrls[0]); //图片 上传的数据
			      		}
			      		$this.parent().next('.upload-img-div').show(); //图片容器
			      		$this.parent().next('.upload-img-div').find('.upload-img-close').attr('data-close',result.name)  //删除 需要的文件名
			            console.log('上传图片',result);
			        }).catch(function (err) {
			            console.log(err);
			        });
				}else{
					parent.layer.msg('最多上传一张', {
						icon: 2,
						offset: 'tb', //右下角弹出
						time: 1000, //2s后自动关闭
					});
				}
		      	
		    });
		    //删除图片
		    $(".upload-img-close").click(function(){
		    	console.log('222222222')
		    	var $this = $(this);
		    	$this.parent().prev().find('.file-data').val('');
				$this.next('.file-img-show').attr('src','');
				$this.parent('.upload-img-div').hide();

			    $.ajax({
					type: "post",
					url: ossDel,
					async: true,
					data: {
						name:$this.attr('data-close')
					},
					success: function(res) {
						$this.parent().prev().find('.file-img').val('');
//						$(".file-img").val('')
					}
				});
		    });
		    $('.file-psd').change(function(){
		    	if($(this).next('.psd-data').val().length<1){
			    	var $this = $(this);
			    	var psdName=$(this)[0].files[0].name;
			    	client.multipartUpload("myPdf/"+psdName, this.files[0]).then(function (result) {
			    		 	console.log('上传文件',result);
				      		$this.parent().next('.upload-psd-div').show() //装文件 容器
				      		$this.next('.psd-data').val(result.res.requestUrls[0])  //需要上传 的数据
				            $this.parent().next('.upload-psd-div').find('.upload-psd-p').html(psdName);
				            $this.parent().next('.upload-psd-div').find('.upload-psd-close').attr('data-close',result.name);
				        }).catch(function (err) {
				            console.log(err);
				        });
			    }else{
					parent.layer.msg('最多上传一张', {
						icon: 2,
						offset: 'tb', //右下角弹出
						time: 1000, //2s后自动关闭
					});
				}    
		    })
		    
		    //删除文件
			$('.upload-psd-close').click(function(){
				$(this).parent().prev().find('.psd-data').val('');
//				$(this).next('.upload-psd-p').html('')
				$(this).parent('.upload-psd-div').hide();
				var $this = $(this);
				$this.parent().prev().find('.file-psd').val('')
				
				var del= $this.next('.upload-psd-p').attr('psd-id');
				$this.next('.upload-psd-p').attr('del-id',del)
				$this.next('.upload-psd-p').attr('psd-id','')
//				$(this).parent().prev().find('.psd-data').val('');
////				$(this).next('.upload-psd-p').html('')
//				$(this).parent('.upload-psd-div').hide();
//				var $this = $(this);
//			    $.ajax({
//					type: "post",
//					url: projrammeDocumentDel,
//					async: true,
//					data: {
//						id:$(this).attr('data-close')
//					},
//					success: function(res) {
//						$this.parent().prev().find('.file-psd').val('')
//						$this.next('.upload-psd-p').attr('psd-id','')
//					}
//				});
			})
			
			
			
			$('.action-btn-back').click(function() {
				window.location.href = 'view.html';
				return false;
			})

		})
	</script>

</html>