<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../../layui/css/layui.css" />
		<script src="../../../js/jquery-2.1.0.js"></script>
		<script src="../../../layui/layui.js"></script>
		<script type="text/javascript" src="http://gosspublic.alicdn.com/aliyun-oss-sdk.min.js "></script>
		<script src='../../../js/wangEditor.min.js'></script>
		<script src="../../../js/public.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../css/style.css" />
	</head>

	<body class="my-body">

		<div class="my-breadcrumb">
			<span class="layui-breadcrumb">
		  <a>新闻与招聘</a>
		  <a>招聘管理</a>
		  <a><cite>岗位添加</cite></a>
		</span>
		</div>
		<div class="my-content">
			<h3 class="form-title">岗位添加</h3>

			<form class="layui-form my-form" style="" action="">
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">岗位名称：</label>
					<div style="width: 300px;" class="my-from-input">
						<input type="text" name="position" required lay-verify="required"  placeholder="请输入岗位名称" autocomplete="off" class="layui-input my-tree-input">

					</div>
				</div>
				<div class="layui-form-item  my-textarea-div">
					<label style="" class="layui-form-label my-label">岗位职责：</label>
					<div style="" class="my-from-input my-wangEditor-div">
						<div style="" id="dom3"   class=""></div>
					</div>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">我们的期望：</label>
					<div style="" class="my-from-input my-wangEditor-div">
						<div style="" id="dom4"   class=""></div>
					</div>
				</div>
				<div class="action-form-btns">
					<button lay-submit lay-filter="tijiao" class="layui-btn layui-btn-normal action-btn-tijiao">提交</button>
					<button class="layui-btn layui-btn-primary action-btn-back">取消</button>
				</div>
			</form>

		</div>
		<style>
			.w-e-text ol li{
				list-style: decimal !important;
			}
			.w-e-text ul li{
				list-style: outside !important;
			}
		</style>
	</body>
	<script>
		$(function() {
			layui.use('element', function() {
				var element = layui.element;
				element.init();

			});
			
			var E = window.wangEditor
			var editor3 = new E('#dom3');
			var editor4 = new E('#dom4');
	
			// 自定义菜单配置
			 editor3.customConfig.menus = [
		        'head',
		        'bold',
		        'fontSize',
		        'list',  // 列表
		        
		        'undo',
		    ]
			 editor4.customConfig.menus = [
		        'head',
		        'bold',
		        'fontSize',
		        'list',  // 列表
		        
		        'undo',
		    ]
			
           	editor3.create();
           	editor4.create();
			
			layui.use('form', function() {

				var form = layui.form;
				
				
				form.on('submit(tijiao)', function(form) {
					//自定义验证规则
					//自定义验证规则
					if(editor3.txt.html() == '<p><br></p>' ||editor3.txt.html()==''){
						parent.layer.msg('请输入岗位职责', {
							icon: 5,
							anim: 6,
							offset: '50%', //右下角弹出
							time: 1000, //2s后自动关闭
						});
					}else if(editor4.txt.html() == '<p><br></p>' ||editor4.txt.html()==''){
						parent.layer.msg('请填写岗位期望', {
							icon: 5,
							anim: 6,
							offset: '50%', //右下角弹出
							time: 1000, //2s后自动关闭
						});
					}else{
						$.ajax({
							type: "post",
							url: joinUsAdd,
							async: true,
							data: {
								position:form.field.position,
								statementdom:form.field.statementdom,
								claimdom:editor4.txt.html(),
							},
							success: function(res) {
								if(res.code == 0) {
									$('.action-btn-tijiao').attr('disabled', true)
									parent.layer.msg('提交成功', {
										icon: 1,
										offset: 'tb', //右下角弹出
										time: 1000, //2s后自动关闭
									});
									setTimeout(function() {
										window.location.href = 'view.html'
									}, 1000)
								}
							}
						});
					}
					
					return false;
				});
		
			})
			
		   
			
			$('.action-btn-back').click(function() {
				window.location.href = 'view.html'
				return false;
			})

		})
	</script>

</html>