<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../../layui/css/layui.css" />
		<script src="../../../js/jquery-2.1.0.js"></script>
		<script src="../../../layui/layui.js"></script>
		<script src="../../../js/public.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../css/style.css" />
		
	</head>

	<body class="my-body-child">

		<div class="my-content hezuo-box"  style="padding-left: 0;padding-top: 0;">
			<h3 class="form-title">合作详情</h3>
			<form class="layui-form my-form" lay-filter='myForm'  style="" action="">
				<div class="layui-form-item">
					<label style="width: 100px;" class="layui-form-label my-label">处理状态：</label>
					<div style="width: 300px;margin-left: 15px;" class="my-from-input">
						<select class="status" required lay-verify="required" name="status" autocomplete="off">
							<option value="">请选择</option>
							<option value="1">未处理</option>
							<option value="2">处理中</option>
							<option value="3">已处理</option>
						</select>
					</div>
		
				</div>
			
			<div class=" my-form-text">
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">公司名称：</label>
					<span class="form-text companyName"></span>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">营业年限：</label>
					<span class="form-text creatDate"></span>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">公司规模：</label>
					<span class="form-text incumbency"></span>
				</div>
			
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">经营范围：</label>
					<span class="form-text businessScope"></span>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">公司网站：</label>
					<span class="form-text domainName"></span>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">公司地址：</label>
					<span class="form-text address"></span>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">联系人：</label>
					<span class="form-text linkman"></span>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">电话：</label>
					<span class="form-text phoneCode"></span>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">电子邮箱：</label>
					<span class="form-text email"></span>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">行业：</label>
					<span class="form-text industry"></span>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">合作类型：</label>
					<span class="form-text type"></span>
				</div>
				<div class="layui-form-item">
					<label style="" class="layui-form-label my-label">典型案例：</label>
					<span class="form-text cases"></span>
				</div>
				
			</div>
			<div class="action-form-btns" style=" margin: 30px 0 15px 116px;display: none;">
					<button lay-submit lay-filter="tijiao" class="layui-btn layui-btn-normal action-btn-tijiao">提交</button>
					<button class="layui-btn layui-btn-primary action-btn-back">取消</button>
			</div>
			
			</form>
			 

		</div>
		<style>
			.hezuo-box{
				margin-top: 24px;
				padding-top: 0;
			}
			.hezuo-box:before{
				content: '';
				display: table;
			}
		</style>
	</body>
	<script>
		var idData = null;
		$(function() {
			window.parent.$('.my-msg-body').css({height:'100%'});
			var initId = location.search.split('?id=')[1];
			layui.use('element', function() {
				var element = layui.element;
				element.init();

			});
			layui.use('form', function() {

				var form = layui.form;
				
//				初始赋值
				$.ajax({
					type:"post",
					url:cooperateSee,
					async:true,
					data:{
						id:initId,
					},
					success:function(res){
						if( res.code == 0){
							idData = res.record.id;
							form.val("myForm", {
								'status':res.record.status
							})
							console.log('合作查看',res)
							if(res.record.type == '0'){
		        				res.record.type = '渠道合作'
		        			}	
		        			if(res.record.type == '1'){
		        				res.record.type =  '产品合作'
		        			}
		        			if(res.record.type == '2'){
		        				res.record.type =  '项目合作'
		        			}
		        			if(res.record.type == '3'){
		        				res.record.type =  '战略合作'
		        			}
		        			if(res.record.type == '4'){
		        				res.record.type =  '其他'
		        			}
		        			if(res.record.incumbency == '1'){
		        				res.record.incumbency =  '100以下'
		        			}
		        			if(res.record.incumbency == '2'){
		        				res.record.incumbency =  '300以下'
		        			}
		        			if(res.record.incumbency == '3'){
		        				res.record.incumbency =  '500以下'
		        			}
		        			if(res.record.incumbency == '4'){
		        				res.record.incumbency =  '500以上'
		        			}
		        			if(res.record.creatDate == '1'){
		        				res.record.creatDate =  '3年以下'
		        			}
		        			if(res.record.creatDate == '2'){
		        				res.record.creatDate =  '3至5年'
		        			}
		        			if(res.record.creatDate == '3'){
		        				res.record.creatDate =  '5-10年'
		        			}
		        			if(res.record.creatDate == '4'){
		        				res.record.creatDate =  '10年以上'
		        			}
							$('.linkman').html(res.record.linkman);
							$('.phoneCode').html(res.record.phoneCode);
							$('.email').html(res.record.email);
							$('.domainName').html(res.record.domainName);
							$('.businessScope').html(res.record.businessScope);
							$('.linkman').html(res.record.linkman);
							$('.linkman').html(res.record.linkman);
							$('.linkman').html(res.record.linkman);
							
							$('.companyName').html(res.record.companyName);
							$('.cases').html(res.record.cases);
							$('.address').html(res.record.address);
							
							$('.incumbency').html(res.record.incumbency) //公司规模	企业规模(1:100以下 2:300以下 3:500以下 4:500以上)
							$('.industry').html(res.record.industry) //客户行业	
							$('.creatDate').html(res.record.creatDate) //营业年限(1:3年以下,2:3至5年,3:5-10年,4:10年以上)
							$('.type').html(res.record.type) //合作类型 
							
							$('.action-form-btns').show()
									
						}
					}
				});
				
				form.on('submit(tijiao)', function(form) {
					$.ajax({
						type: "post",
						url: cooperateStatusEdit,
						async: true,
						data: {
							id:idData,
							status:form.field.status
						},
						success: function(res) {
							if(res.code == 0) {
								$('.action-btn-tijiao').attr('disabled', true)
								parent.parent.layer.msg('提交成功', {
									icon: 1,
									offset: 'tb', //右下角弹出
									time: 1000, //2s后自动关闭
								});
								setTimeout(function() {
									window.parent.$('.my-msg-nav').show();
									window.parent.$('.my-msg-body').css({height:'calc(100% - 56px)'});
									window.location.href = 'view.html'
								}, 1000)
							}
						}
					});
					return false;
				});
			})
			
			$('.action-btn-back').click(function() {
				
				window.parent.$('.my-msg-nav').show();
				window.parent.$('.my-msg-body').css({height:'calc(100% - 56px)'});
				window.location.href = 'view.html';
				return false;
			})
			var counter = 0;
	            if (window.history && window.history.pushState) {
                    $(window).on('popstate', function () {
                        window.history.pushState('forward', null, '#');
                        window.history.forward(1);
                      	window.parent.$('.my-msg-nav').show();
                      	window.parent.$('.my-msg-body').css({height:'calc(100% - 56px)'});
						window.location.href = 'view.html';
                    });
	              }

	              window.history.pushState('forward', null, '#'); //在IE中必须得有这两行
	              window.history.forward(1);
		})
		
		
	</script>

</html>
